*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    /* color : white; */
}
body {
    font-family: 'Arial', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.nav{
    background-color: #1c1c1c;
    color: #e3e3e3;
    padding: 5px;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.logo{
    background-image: url("sources/aorus-logo.png" );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 50px;
}
#navleft{
    height: 50px;
    width: 450px;
    font-size: 20px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
.unli:hover{
    border-bottom: 2px solid #b94a03;
}